.popup{
    background-color: red;
    position: fixed;
    z-index: 200;
    bottom: -40px;
    padding: 7px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    animation: move 3s 1;
}

@keyframes move {
    0% {
        bottom: -40px;
        transition: ease-in;

    }
    50% {
        bottom: 40px;
    }
    100%{
        bottom: -40px;
        /* transition: ease-in; */
    }
}